<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag">
    <title th:text="${crmName}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="https://code.jquery.com/jquery-2.2.2.js"
            integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


    <!-- Scripts -->
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>

    <!--[if lte IE 8]>
    <script src="/assets/js/ie/respond.min.js"/><![endif]-->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/ie/html5shiv.js"></script>
    <script src="/assets/js/ie/respond.min.js"></script>
    <script src="/assets/js/client.js"></script>


    <!--Main CSS-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style type="text/css">
       ::-webkit-scrollbar { display: none; }
       .ui-content { -webkit-overflow-scrolling: touch; }
           .text-hidden {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
           }
           .text-shown {
              word-wrap: break-word;
           }
    </style>
</head>
</html>




