<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <!-- Header -->
    <header id="header">
        <h1><a th:text="${crmName}" href="/"></a></h1>
        <nav class="links">
            <ul>
                <li><a href="#" th:href="@{/services}">Services</a></li>
                <li><a href="#" th:href="@{/projects}">Projects</a></li>
                <li><a href="#" th:href="@{/team}">Team</a></li>
                <li><a href="#" th:href="@{/contact}">Contact</a></li>
                <li><a href="#" th:href="@{/user}" sec:authorize="isAuthenticated()">Profile</a></li>
                <li><a href="#" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="#">
                        <input type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Menu -->
    <section id="menu">
        <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search"/>
            </form>
        </section>

        <!--&lt;!&ndash; Search &ndash;&gt;-->
        <!--<section>-->
        <!--<form class="search" method="get" action="#">-->
        <!--<input type="text" name="query" placeholder="Search"/>-->
        <!--</form>-->
        <!--</section>-->

        <!-- Links -->
        <section id="userInfoBody">
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Lorem ipsum</h3>
                        <p>Feugiat tempus veroeros dolor</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Lorem ipsum</h3>
                        <p>Feugiat tempus veroeros dolor</p>
                    </a>
                </li>
                <li id="loginForm">
                    <form>
                        <div>
                            <h3>LOGIN</h3>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-Mail"
                                   required="true" name="username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password" required="true" name="password"/>
                        </div>
                        <ul class="actions vertical">
                            <li>
                                <button type="submit" class="button big fit">Log In</button>
                            </li>
                        </ul>
                    </form>
                    <div class="modal fade" tabindex="-1" role="dialog" id="loginErrorModal">
                        <div class="modal-dialog">
                            <div class="modal-body"></div>
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </li>
                <li>
                    <div id="userInfo">
                        <div class="panel panel-default">
                            <div class="alert alert-info text-hidden" id="loggedIn"></div>
                            <div class="panel-body">
                                <button type="button" class="button big fit" id="logoutButton">Logout</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </section>
        <section id="signUp">
            <ul class="links">
                <li>
                    <div>
                        <h3>SIGN UP</h3>
                    </div>
                </li>
                <li>
                    <div class="12u$">
                        <input type="email" name="reg-email" id="reg-email" value="" placeholder="E-Mail"/>
                    </div>
                    <div class="12u$">
                        <input type="email" name="reg-confirm-email" id="reg-confirm-email" value=""
                               placeholder="Confirm E-Mail"/>
                    </div>
                    <div class="12u$">
                        <input type="password" name="reg-password" id="reg-password" value="" placeholder="Password"/>
                    </div>
                    <div class="12u$">
                        <input type="password" name="reg-confirm-password" id="reg-confirm-password" value=""
                               placeholder="Confirm Password"/>
                    </div>
                </li>
            </ul>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Sign Up</a></li>
            </ul>
        </section>
    </section>
</div>
</html>