<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">
    <title>Smorenburg CRM - Future Imperfect</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>

    <!--[if lte IE 8]>
    <script src="assets/js/ie/respond.min.js"/><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/ie/html5shiv.js"></script>
    <script src="assets/js/ie/respond.min.js"></script>
    <script src="assets/js/client.js"></script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!--Main CSS-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style type="text/css">
   ::-webkit-scrollbar { display: none; }
   .ui-content { -webkit-overflow-scrolling: touch; }
       .text-hidden {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
       }
       .text-shown {
          word-wrap: break-word;
       }



    </style>
</head>
</html>




