<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="contact">
    <div id="main">
        <div id="wrapper">
            <!-- Post -->
            <article class="post">
                <header class="container">
                    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            th:src="@{|https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q= ${crmAddressRoad},${crmAddressCity},${crmAddressPostalCode},${crmAddressCountry} &output=embed|}"></iframe>

                </header>

                <div>
                    <ul class="row actions fit">
                        <li>
                            <h3>Contact Form</h3>
                            <br>
                            <form>
                                <div class="row uniform">
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="demo-name" id="demo-name" value=""
                                               placeholder="Name"/>
                                    </div>
                                    <div class="6u$ 12u$(xsmall)">
                                        <input type="email" name="demo-email" id="demo-email" value=""
                                               placeholder="Email"/>
                                    </div>
                                    <div class="12u$">
                                        <div class="select-wrapper">
                                            <select name="demo-category" id="demo-category">
                                                <option value="">- Category -</option>
                                                <option value="1">Project Query</option>
                                                <option value="1">Services</option>
                                                <option value="1">Human Resources</option>
                                                <option value="1">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="12u$">
                    <textarea name="demo-message" id="demo-message" placeholder="Enter your message"
                              rows="6"></textarea>
                                    </div>
                                    <div class="12u$">
                                        <ul class="actions">
                                            <li><input type="submit" value="Send Message"/></li>
                                            <li><input type="reset" value="Reset"/></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li>
                            <br>
                            <br>
                            <h3>HeadQuarters</h3>
                            <br>
                            <form>
                                <div class="row uniform">

                                    <div class="12u$">
                                        <address>
                                            <strong>Road: </strong><span th:text="${crmAddressRoad}"></span><br>
                                            <strong>City: </strong><span th:text="${crmAddressCity}"></span><br>
                                            <strong>Country: </strong><span th:text="${crmAddressCountry}"></span><br>
                                            <strong>Postal Code: </strong><span
                                                th:text="${crmAddressPostalCode}"></span><br>
                                            <strong>Email: </strong><span th:text="${crmAddressEmail}"></span><br>
                                            <strong>Phone: </strong><abbr th:text="${crmAddressPhone}"
                                                                          title="Phone"></abbr>
                                            <br>
                                        </address>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <br><br>
                </div>
            </article>
        </div>
    </div>
</div>