<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="services">
    <div id="main">
        <div id="wrapper">
            <!-- Post -->
            <article class="post">
                <section>
                    <header>
                        <div class="title">
                            <h2><a href="#">Services</a></h2>
                            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                        </div>
                    </header>
                    <h4>Left &amp; Right</h4>
                    <p><span class="image left"><img src="images/pic07.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. </p>
                    <p><span class="image right"><img src="images/pic04.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent.</p>
                    <h4>Left &amp; Right</h4>
                    <p><span class="image left"><img src="images/pic07.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. </p>
                    <p><span class="image right"><img src="images/pic04.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent.</p>
                    <h4>Left &amp; Right</h4>
                    <p><span class="image left"><img src="images/pic07.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. </p>
                    <p><span class="image right"><img src="images/pic04.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent.</p>
                    <h4>Left &amp; Right</h4>
                    <p><span class="image left"><img src="images/pic07.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. </p>
                    <p><span class="image right"><img src="images/pic04.jpg" alt=""/></span>Fringilla nisl. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
                        iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis in faucibus
                        vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                        Integer ac pellentesque praesent.</p>
                </section>
            </article>
        </div>
    </div>
</div>
</html>